footer{
    background-color: rgb(31, 31, 31);
    padding-top: 1rem;
    margin-top: 0;
    padding-bottom: 2rem;

    i{
        padding-right: 1rem;
    }
    ul, h2{
       margin-top: 0;
       
    }
    li, a{
        color: #FFFF;
        margin-top: .5rem;
        
    }
   @media screen and (min-width: 700px) {
       ul{
       display: grid;
       text-align: center;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 2rem 0 0 0 ; 
        }
    }  
}