footer{
    background-color: rgba(31, 31, 31, 0.95);
    margin-top: 0;
    padding: 1rem 0;
    i{
        padding-right: 1rem;
    }
    ul, h5{
       margin-top: -0.2rem; 
       margin-bottom: 1.5rem; 
    }
    li, a{
        color: #FFFF;
        margin-top: .7rem;
    }
   @media screen and (min-width: 700px) {
       ul{
       display: grid;
       text-align: center;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 2rem 0 0 0 ; 
        }
    }  
}