@keyframes new {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes loading {  /*Animation du loader*/
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes disapear {
    0%{
        visibility: hidden;
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
     100%{
         opacity: 0;
         visibility: visible; 
     }
}
  
@keyframes rotation { 
     0%{
         transform: rotate(0deg);
     }
      100%{
          transform: rotate(360deg);
      }
  }

@keyframes slide-left {  /*Animation de la coche de validation*/
    0% {
      transform: translateX(0);
              width: 0%;          
    }
    100% {
     transform: translateX(0);
     display: flex;
     width: 15%;    
    }
}

@keyframes slow-display {  /*Animation de l apparition progressive des menus*/
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
   100%{
       transform: translateY(0);
       opacity: 1;
   }   
  }